# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://hwimpyhxwwgjyldrekpf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3aW1weWh4d3dnanlsZHJla3BmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwNzgwNTIsImV4cCI6MjEwNTY1NDA1Mn0.Yr-CCImzqIjar1ak3rgnRHoOpSGSqOcIKVha25VaJ8s
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3aW1weWh4d3dnanlsZHJla3BmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDA3ODA1MiwiZXhwIjoyMTA1NjU0MDUyfQ.UOylSc-p99stsy789QxcMs7Aqoep7lW9-SiBCDR9RLo
